doctype html
html(lang="fr")
  head
    title= 'Nouvelle Ecole : Le Podcast des entrepreneurs français'
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(type='text/javascript').
      if (foo) bar(1 + 5)

  body
    .jumbotron
      h1 Sortons des sentiers battus
      h2 Nouvelle École est le 1er podcast des entrepreneurs français
